<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605919841538-kr5bblcq3jasq1ad0rvr6tc14pbh4fpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605919841538-kr5bblcq3jasq1ad0rvr6tc14pbh4fpl</string>
	<key>API_KEY</key>
	<string>AIzaSyDlSIiLjB3M0B77K0EoH7esGBABqywxYS4</string>
	<key>GCM_SENDER_ID</key>
	<string>605919841538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTodolist</string>
	<key>PROJECT_ID</key>
	<string>todo-list-flutter-b109c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-flutter-b109c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605919841538:ios:d5ddfdc23d6dc53b8a061b</string>
</dict>
</plist>